div.border
{
    border:1px solid black;
    border-radius: 10px;
    padding:25px;
    background-color: whitesmoke;
}

div.image
{
    background-image: url('images/');
    background-repeat: no-repeat;
    background-size: 100%;
    height:300px;
}